window=60000
start_time=20140801 000000000
end_time=20140801 170000000
onirl=/Users/theocean154/Documents/School_files/College/Programs/eclipse/math4073/proj/src/files/interestrateslong.txt
onirs=/Users/theocean154/Documents/School_files/College/Programs/eclipse/math4073/proj/src/files/interestratesshort.txt
